<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
  
                  <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>
  
                  <form class="mx-1 mx-md-4" #form="ngForm" (ngSubmit)="register(form)">

                    <ng-container *ngIf="inputUsername.touched">
                      <p class="error" *ngIf="inputUsername.errors?.['required']" style="color:red">
                        Username is required!
                      </p>
                      <p class="error" *ngIf="inputUsername.errors?.['minlength']" style="color:red">
                        Username must be atleast 5 characters!
                      </p>
                    </ng-container>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="text" 
                        id="username" 
                        name="username" 
                        #inputUsername="ngModel" 
                        ngModel 
                        placeholder="John Doe" 
                        required 
                        minlength="5"  
                        class="form-control"/>
                        <label class="form-label" for="form3Example1c">Username</label>
                        
                      </div>
                    </div>

                    <!-- Email error -->

                    <ng-container *ngIf="inputEmail.touched">
                      <p class="error" *ngIf="inputEmail.errors?.['required']" style="color:red">
                        Email is required!
                      </p>
                      <p class="error" *ngIf="inputEmail.errors?.['minlength']" style="color:red">
                        Email must be atleast 7 characters!
                      </p>
                      <p class="error" *ngIf="inputEmail.errors?.['appEmailValidator']" style="color:red">
                        Email is not valid!
                      </p>
                    </ng-container>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="email" 
                        id="email" 
                        name="email" 
                        placeholder="john.doe@gmail.com"
                        ngModel
                        #inputEmail="ngModel"
                        required 
                        minlength="7"
                        [appEmail]="emailDomains" class="form-control" />
                        <label class="form-label" for="email">Your Email</label>
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="tel" id="tel" name="tel" class="form-control" placeholder="+359..."/>
                        <label class="form-label" for="tel">Telephone</label>
                      </div>
                    </div>

                    <!-- Password Errors -->

                    <ng-container *ngIf="inputPassword.touched">
                      <p class="error" *ngIf="inputPassword.errors?.['required']" style="color:red">
                        Password is required!
                      </p>
                      <p class="error" *ngIf="inputPassword.errors?.['minlength']" style="color:red">
                        Password must be atleast 8 characters!
                      </p>
                    </ng-container>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="password" id="password" name="password" #inputPassword="ngModel" ngModel required minlength="8" class="form-control" />
                        <label class="form-label" for="password">Password</label>
                      </div>
                    </div>

                    <!-- rePassword Errors -->
                    <ng-container *ngIf="inputRePassword.touched">
                      <p class="error" *ngIf="inputRePassword.errors?.['required']" style="color:red">
                        Repeat password is required!
                      </p>
                      <p class="error" *ngIf="inputRePassword.value != inputPassword.value" style="color:red">
                        Passwords don't match!
                      </p>
                    </ng-container>
                    
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="password" id="rePassword" name="rePassword" #inputRePassword="ngModel" ngModel required class="form-control" />
                        <label class="form-label" for="form3Example4cd">Repeat your password</label>
                      </div>
                    </div>
  
                    <div class="form-check d-flex justify-content-center mb-5">
                      <label class="form-check-label" for="form2Example3">
                        Already have a Profile? <a routerLink="/login">Sign in</a>
                      </label>
                    </div>
  
                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                      <button type="submit" class="btn btn-primary btn-lg" [disabled]="form.invalid || inputRePassword.value != inputPassword.value">Register</button>
                    </div>
  
                  </form>
  
                </div>
                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
  
                  <img src="https://www.thewildlifediaries.com/wp-content/uploads/2020/05/Bobcat-AdobeStock_177846262-1024x683.jpg"
                    class="img-fluid" alt="Sample image" style="border-radius: 15px;">
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>