<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
      <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://www.yarracity.vic.gov.au/-/media/all-images/yarra-city-council/events/events-2023/may/nature-strategy-update-900x400.jpg?h=400&la=en&w=900&hash=8EB97A75FA5DB1F71CFA1207FA357D164B307415" alt="..." /></div>
      <div class="col-lg-5">
        <h1 class="font-weight-light">Green Ideas</h1>
        <p>Our website unites communities to help each other. <br>
          We make themes which are looking for ideas to help out on problems with wild life. <br>
          Share your ideas with us.</p>
        <a class="btn btn-primary" routerLink="/theme/themes">I'm Interested</a>
      </div>
    </div>
    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
      <div class="card-body"><p class="text-white m-0">Here is our latest post looking for help!</p></div>
    </div>
    <!-- Content Row-->

    <div *ngIf="lastPost">
    <div class="card mb-5" style="border-radius: 15px;">
      <div class="card-body p-4">
        <h3 class="mb-3">{{lastPost.themeName}}</h3>
        <p class="small mb-0"><i class="far fa-star fa-lg"></i> Created by
          <strong>{{lastPost.userId.username}}</strong> {{lastPost.created_at | elapsedTime}}</p>
        <hr class="my-4">
        <div class="d-flex justify-content-start align-items-center">

          <button type="button" class="btn btn-outline-dark btn-sm btn-floating" [routerLink]="lastPost._id">
            <i class="fas fa-plus">Learn More</i>
          </button>
        </div>
      </div>
    </div>
  </div>

  </div>