<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
      <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://www.yarracity.vic.gov.au/-/media/all-images/yarra-city-council/events/events-2023/may/nature-strategy-update-900x400.jpg?h=400&la=en&w=900&hash=8EB97A75FA5DB1F71CFA1207FA357D164B307415" alt="..." /></div>
      <div class="col-lg-5">
        <h1 class="font-weight-light">Green Ideas</h1>
        <p>Our website unites communities to help each other. <br>
          We make gatherings to clean the nature around us. <br>
          See for yourself by cheking out where you can help.</p>
        <a class="btn btn-primary" routerLink="/theme/themes">I'm Interested</a>
      </div>
    </div>
    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
      <div class="card-body"><p class="text-white m-0">Here is our latest post looking for help!</p></div>
    </div>
    <!-- Content Row-->


    <div class="card mb-5" style="border-radius: 15px;">
      <div class="card-body p-4">
        <h3 class="mb-3">Program Title</h3>
        <p class="small mb-0"><i class="far fa-star fa-lg"></i> <span class="mx-2">|</span> Created by
          <strong>MDBootstrap</strong> on 11 April , 2021</p>
        <hr class="my-4">
        <div class="d-flex justify-content-start align-items-center">

          <a href="#!">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/User-avatar.svg/2048px-User-avatar.svg.png" alt="avatar"
              class="img-fluid rounded-circle me-3" width="35">
          </a>
          <button type="button" class="btn btn-outline-dark btn-sm btn-floating">
            <i class="fas fa-plus">Learn More</i>
          </button>
        </div>
      </div>
    </div>
  </div>