<!-- Should make if there are no posts -->

<div class="container px-4 px-lg-5">
    <h1>Recent Posts:</h1>
    <!-- Content Row-->
    <div *ngFor="let theme of themesList">
        <div class="card mb-5" style="border-radius: 15px;">
        <div class="card-body p-4">
          <h3 class="mb-3">{{theme.themeName}}</h3>
          <p class="small mb-0"><i class="far fa-star fa-lg"></i> Created by
            <strong>{{theme.userId.username}}</strong> {{theme.created_at | elapsedTime}}</p>
          <hr class="my-4">
          <div class="d-flex justify-content-start align-items-center">

            <button type="button" class="btn btn-outline-dark btn-sm btn-floating" [routerLink]="theme._id">
              <i class="fas fa-plus">Learn More</i>
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>